<!-- base.html -->
{% load custom_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

    <title>{% block title %}Dogs Club{% endblock %}</title>
    <!-- CSS -->
    <link
    rel="preload"
    as="style"
    href="{% static 'css/style.css' %}"
    onload="this.rel = 'stylesheet'"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap"
    rel="stylesheet"
  />
</head>
<body>

    <header>
        <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
        <h1>Dogs Club</h1>
        {% if user.is_authenticated %}
                <p>Hi, {{user.first_name}}</p>
            
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class = "small_button">Logout</button>
                </form>
            
        {% else %}
            
                <a href="{% url 'login' %}" >Login</a>/<a href="{% url 'register' %}" >Sign Up</a>
        {% endif %}
    </header>

    <nav>
        <ul>
        
        

        {% if user.is_authenticated %}
            
            {% if request.user|has_group:"Customers" %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'boardinghouse_list' %}">Boarding Houses</a></li>
                <li><a href="{% url 'booking_history' %}">Booking History</a></li>
            {% elif request.user|has_group:"Boardinghouse Owners"  %}
                <li><a href="{% url 'owner_dashboard' %}">Owner Dashboard</a></li>
            {% endif %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
        {% else %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'boardinghouse_list' %}">Boarding Houses</a></li>
        {% endif %}
        </ul>
    </nav>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    
</footer>

</body>
</html>
