{% extends 'base.html' %}
{% load custom_filters %}


{% block title %}{{ boardinghouse.name }} - Dogs Club{% endblock %}

{% block content %}

        <h2>{{ boardinghouse.name }}</h2>
        <p>{{ boardinghouse.description }}</p>
        <p>Location: {{ boardinghouse.location }}</p>
        <p> Contact Detailes: {{boardinghouse.contact_details}}</p>
        <p>Available Spaces: {{ boardinghouse.available_spaces }}</p>

    <a href="{% url 'reviews' boardinghouse.id %}">View Reviews</a>


        <h2>Book a Stay</h2>
        {% if error %}
            <p class = "error_text">{{ error }}</p>
        {% endif %}
        {% if request.user|has_group:"Customers" %}
            <form method="post" action="{% url 'booking' boardinghouse.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="small_button">Book Now</button>
            </form>

        {% elif not request.user|has_group:"Boardinghouse Owners" %}
            <p><a href="{% url 'login' %}">Log in</a> to book a stay.</p>
        {% endif %}

{% endblock %}
