{% extends 'base.html' %}

{% block title %}Boarding Houses - Dog Boarding{% endblock %}

{% block content %}
        <h2>Explore our Boarding Houses</h2>
        <p>Find the perfect place for your dog's stay.</p>

        <h2>Boarding Houses</h2>
        <section>
            {% for boardinghouse, rate_info in boardinghouses_and_rates.items %}
                <article>
                    <h3>{{ boardinghouse.name }}</h3>
                    <iframe src="{{ boardinghouse.map_location }}" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p>{{ boardinghouse.description }}</p>
                    <p>Location: {{ boardinghouse.location }}</p>
                    <p>Available Spaces: {{ boardinghouse.available_spaces }}</p>
                    <p>Rate: {{ rate_info.0 }}</p>
                    <p>Rated By: {{ rate_info.1 }} users</p>
                    <a href="{% url 'boardinghouse_detail' boardinghouse.id %}">View Details</a>
                </article>
            {% endfor %}
        </section>
{% endblock %}
