{% extends 'base.html' %}

{% block title %}Boarding Houses - Dog Boarding{% endblock %}

{% block content %}
    <section>
        <h2>Explore Boarding Houses</h2>
        <p>Find the perfect place for your dog's stay.</p>
    </section>

    <section>
        <h3>Available Boarding Houses</h3>
        <ul>
            {% for boardinghouse in boardinghouses %}
                <li>
                    <h4>{{ boardinghouse.name }}</h4>
                    <p>{{ boardinghouse.description }}</p>
                    <p>Location: {{ boardinghouse.location }}</p>
                    <p>Available Spaces: {{ boardinghouse.available_spaces }}</p>
                    <p>Rate: {{boardinghouses_and_rates.get(boardinghouse)[0] }}</p>
                    <a href="{% url 'boardinghouse_detail' boardinghouse.id %}">View Details</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
