{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home - Dogs Club
{% endblock %}

{% block content %}

    <h2>Welcome to Dog Boarding</h2>
    <p>Find the perfect place for your dog's stay!</p>


    <h2>Featured Boarding Houses</h2>
    <section>


            <article>
                <h3>{{ featured_boardinghouses.0.0.name }}</h3>
                <img src="{% static 'img/dog_with_rope.jpg' %}" class = "cropped-image">
                <p>{{ featured_boardinghouses.0.0.description }}</p>
                <p>Location: {{ featured_boardinghouses.0.0.location }}</p>
                <p>Total Spaces: {{ featured_boardinghouses.0.0.available_spaces }}</p>
                <p>Rate: {{ featured_boardinghouses.0.1 }} </p>
                <p>Rated By: {{ featured_boardinghouses.0.2 }} users</p>

                <a href="{% url 'boardinghouse_detail' featured_boardinghouses.0.0.id %}">View Details</a>
            </article>
            <article>
                <h3>{{ featured_boardinghouses.1.0.name }}</h3>
                <img src="{% static 'img/white_dog_play.jpg' %}" class = "cropped-image">
                <p>{{ featured_boardinghouses.1.0.description }}</p>
                <p>Location: {{ featured_boardinghouses.1.0.location }}</p>
                <p>Total Spaces: {{ featured_boardinghouses.1.0.available_spaces }}</p>
                <p>Rate: {{ featured_boardinghouses.1.1 }} </p>
                <p>Rated By: {{ featured_boardinghouses.1.2 }} users</p>

                <a href="{% url 'boardinghouse_detail' featured_boardinghouses.1.0.id %}">View Details</a>
            </article>
            <article>
                <h3>{{ featured_boardinghouses.2.0.name }}</h3>
                <img src="{% static 'img/dog_with_ball.jpg' %}" class = "cropped-image">
                <p>{{ featured_boardinghouses.2.0.description }}</p>
                <p>Location: {{ featured_boardinghouses.2.0.location }}</p>
                <p>Total Spaces: {{ featured_boardinghouses.2.0.available_spaces }}</p>
                <p>Rate: {{ featured_boardinghouses.2.1 }} </p>
                <p>Rated By: {{ featured_boardinghouses.2.2 }} users</p>

                <a href="{% url 'boardinghouse_detail' featured_boardinghouses.2.0.id %}">View Details</a>
            </article>

    </section>
{% endblock %}
