{% extends 'base.html' %}
{% load static %}

{% block title %}User Profile - Dog Boarding{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>User Profile</title>
    </head>
    <body>
        <h1>User Profile</h1>
        <div>
            <h2>Username: {{ profile.user.username }}</h2>
            <p>Email: {{ profile.user.email }}</p>
            {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
            {% else %}
                <p>No profile picture available</p>
                
            {% endif %}
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if profile.profile_picture %}
                <button type="submit">Change Profile Picture</button>
            {% else %}
                <button type="submit">Upload Profile Picture</button>
            {% endif %}
            {{ form.as_p }}
        </form>
    </body>
    </html>

{% endblock %}
