{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block title %}User Profile - Dogs Club{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>My Profile</title>
    </head>
    <body>
        <h2>My Profile</h2>
        <div>
            <p><b>Username: {{ profile.user.username }}</b></p>
            <p>First Name: {{ profile.user.first_name }}</p>
            <p>Last Name: {{ profile.user.last_name }}</p>
            <p>Email: {{ profile.user.email }}</p>


        </div>



        <h3>Edit username and password</h3>

        <a href="{% url 'update_username' %}" >Update Username</a></br>
        <a href="{% url 'update_password' %}">Update Password</a></br>

        {% if profile.user|has_group:"Customers" %}
            <h2>My Dogs</h2>
            <ul>
                {% for dog in dogs %}
                    <li>
                        <strong>{{ dog.name }}</strong> <br>
                        <a href="{% url 'dog_detail' dog.chip_id %}">View Details</a>

                    </li>
                {% empty %}
                    <li>No dogs available.</li>
                {% endfor %}
            </ul>
            <a href="{% url 'add_dog' %}" class = "small_button">Add Dog</a>
        {% endif %}

    </body>
    </html>
{% endblock %}
